@import url(//https://fonts.googleapis.com/css?family=Nunito);

body {
    background-color: #9370d8;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: normal;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

hr {
    position: relative;
    border: none;
    height: 2px;
    background: #ffffff;
    margin-bottom: 20px;
}

#board {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    background-color: #b5c6cd;
    border: 6px solid #a0acbb;
}

.tile {
    width: 115px;
    height: 115px;
    border: 5px solid #a0acbb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}

/*colours for each tile*/

.t2 {
    background-color: #4cc9f0;
    color: #000000;
}

.t4 {
    background-color: #05b2dc;
    color: #000000;
}

.t8 {
    background-color: #4895ef;
    color: #000000;
}

.t16 {
    background-color: #4361ee;
    color: #000000;
}

.t32 {
    background-color: #3f37c9;
    color: #ffffff;
}

.t64 {
    background-color: #3a0ca3;
    color: #ffffff;
}

.t128 {
    background-color: #480ca8;
    color: #ffffff;
}

.t256 {
    background-color: #560bad;
    color: #ffffff;
}

.t512 {
    background-color: #7209b7;
    color: #ffffff;
}

.t1024 {
    background-color: #b5179e;
    color: #ffffff;
}

.t2048 {
    background-color: #f72585;
    color: #000000;
}

.t4096 {
    background-color: #f26a8d;
    color: #000000;
}

.t8192 {
    background-color: #f49cbb;
    color: #000000;
}